In [4]:
##creating dictionary
my_dict={
    "name":"Mahadev",
    "id":123,
    "year":2004,
}
print(my_dict)
print(my_dict["name"])

{'name': 'Mahadev', 'id': 123, 'year': 2004}
Mahadev

In [5]:
student={
    "name":"Krishn",
    "age":34,
    "dob":"23 May 2004",
}
print(student)

{'name': 'Krishn', 'age': 34, 'dob': '23 May 2004'}

In [11]:
student={
    "name":"Krishna",
    "age":34,
    "dob":"23 May 2004",
}
print(student.get("name"))

Krishna

In [17]:
## methods
keys=student.keys()
print(keys)

dict_keys(['name', 'dob'])

In [18]:
values=student.values()
print(values)

dict_values(['Mahadev', '23 May 2004'])

In [19]:
items=student.items()
print(items)

dict_items([('name', 'Mahadev'), ('dob', '23 May 2004')])

In [21]:
##shallow copy
studen_copy=student
print(student)
print(studen_copy)

{'name': 'Mahadev', 'dob': '23 May 2004'}
{'name': 'Mahadev', 'dob': '23 May 2004'}

In [23]:
student["name"]="Sagar"
print(student)
print(studen_copy)

{'name': 'Sagar', 'dob': '23 May 2004'}
{'name': 'Sagar', 'dob': '23 May 2004'}

In [30]:
student_copy1=student.copy() 
print(student_copy1)
student["name"]="Akash"
print(student)
print(studen_copy1)

{'name': 'Sagar', 'dob': '23 May 2004'}
{'name': 'Akash', 'dob': '23 May 2004'}
{'name': 'Sagar', 'dob': '23 May 2004'}

In [2]:
##iterate in dictionary
students={
    "name":"Krishna",
    "age":34,
    "dob":"23 May 2004",
}
##iterating over keys
for key in students.keys():
    print(key)
##iterate over values
for value in students.values():
    print(value)

name
age
dob
Krishna
34
23 May 2004

In [4]:
## iterates over key value pairs
for key,value in students.items():
    print(f"({key}:{value})")

(name:Krishna)
(age:34)
(dob:23 May 2004)

In [7]:
## Nested dictionaries
students={
    "student1":{
        "name":"Ram",
        "age":23,
        "id":345,
    },
    "student2":{
        "name":"Ravan",
        "age":34,
        "id":456,
    }
}
print(students)

{'student1': {'name': 'Ram', 'age': 23, 'id': 345}, 'student2': {'name': 'Ravan', 'age': 34, 'id': 456}}
{'student1': {'name': 'Ram', 'age': 23, 'id': 345}, 'student2': {'name': 'Ravan', 'age': 34, 'id': 456}}

In [9]:
## access the nested the dictonary
students={
    "student1":{
        "name":"Ram",
        "age":23,
        "id":345,
    },
    "student2":{
        "name":"Ravan",
        "age":34,
        "id":456,
    }
}
print(students["student1"]["name"])

Ram

In [3]:
## iterating over  nested dictioanry
students={
    "student1":{
        "name":"Ram",
        "age":23,
        "id":345,
    },
    "student2":{
        "name":"Ravan",
        "age":34,
        "id":456,
    }
}
for  stduent_id,student_info in students.items():
    print(f"{stduent_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Ram', 'age': 23, 'id': 345}
name:Ram
age:23
id:345
student2:{'name': 'Ravan', 'age': 34, 'id': 456}
name:Ravan
age:34
id:456