In [2]:
##creating a tuple
empty_tuple=()
print(type(empty_tuple))

<class 'tuple'>

In [3]:
lst=list()
print(type(lst))

<class 'list'>

In [4]:
tup=tuple()
print(type(tup))

<class 'tuple'>

In [6]:
lst=tuple([45,67,8,9])
print(lst)
print(type(lst))

(45, 67, 8, 9)
<class 'tuple'>

In [7]:
tup=list[(67,89,90,34,67)]
print(tup)

list[67, 89, 90, 34, 67]

In [10]:
##accessing tuple elements
numbers=(56,78,90,34,50)
print(numbers[0])
print(numbers[-1])

56
50

In [11]:
##tuples operations
mixed_tuple=(34,"Hello",True,89)
numbers=(45,67,78,90)
print(mixed_tuple+numbers)

(34, 'Hello', True, 89, 45, 67, 78, 90)

In [12]:
mixed_tuple*3

(34, 'Hello', True, 89, 34, 'Hello', True, 89, 34, 'Hello', True, 89)

In [13]:
##immutable nature of tuple
numbers=(56,89,90,12)
numbers[1]=78
print(numbers)

TypeError: 'tuple' object does not support item assignment

In [18]:
##tupel method
print(numbers.count(89))
print(numbers.index(89))

1
1

In [19]:
##packing and unpacking the tuple
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [20]:
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [1]:
## unpacking with *

numbers={1,2,3,4,5,6}
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [5]:
##nested list
## tuples inside list
lst=[
    [4,5,6],
    ["Hello",9,10],
    [45,78,True],
    (45,6,7)
]
print(lst[0])
print(lst[0][0])
print(lst[1][2])
print(lst[3])

[4, 5, 6]
4
10
(45, 6, 7)

In [13]:
for sub_lst in lst:
    for item in sub_lst:
        print(item,end=" ")
    print()

4 5 6
Hello 9 10
45 78 True
45 6 7