In [27]:
## connection,insert{CRUD}
import sqlite3

In [1]:
## connect to an SQlite database
import sqlite3 as sq3 
connection=sq3.connect('example.db')
connection

In [29]:
curor=connection.cursor()
curor

In [30]:
## Create table
curor.execute('''
              Create Table If Not Exists employees(
                  id Integer Primary Key,
                  name Text Not Null,
                  age Integer,
                  dept Text
              )
              
              ''')

## COmmit the cahnge
connection.commit()

In [31]:
curor=connection.cursor()
# curor.execute('''
#              Select * from employees
#              ''')

In [32]:
# insert the data in sqlite table
curor.execute('''
              
              Insert Into employees(name,age,dept)
              values('Mahadev',21,'Student')
''') 
curor.execute('''
              
              Insert Into employees(name,age,dept)
              values('Akash',20,'Student')
''')  
curor.execute('''
              
              Insert Into employees(name,age,dept)
              values('Kartik',21,'Student')
''')               
## commit the changes

connection.commit()

In [33]:
## quering data from table
curor.execute('''
             Select * from employees
             ''')
rows=curor.fetchall()

for row in rows:
    print(row)

(1, 'Mahadev', 21, 'Student')
(2, 'Akash', 20, 'Student')
(3, 'Kartik', 21, 'Student')
(4, 'Mahadev', 21, 'Student')
(5, 'Akash', 20, 'Student')
(6, 'Kartik', 21, 'Student')
(7, 'Mahadev', 21, 'Student')
(8, 'Akash', 20, 'Student')
(9, 'Kartik', 21, 'Student')
(10, 'Mahadev', 21, 'Student')
(11, 'Akash', 20, 'Student')
(12, 'Kartik', 21, 'Student')