In [2]:
import pandas as pd 
df1=pd.DataFrame({
    'Key':['A','B','C'],
    'Value1':[1,2,3],
})
df2=pd.DataFrame({
    'Key':['A','B','D'],
    'Value2':[4,5,6],
})
print(df1)
print(df2)

  Key  Value1
0   A       1
1   B       2
2   C       3
  Key  Value2
0   A       4
1   B       5
2   D       6

In [9]:
## mergig DataFrame on the 'Key Colums'
pd.merge(df1,df2,on='Key',how='right')

  Key  Value1  Value2
0   A     1.0       4
1   B     2.0       5
2   D     NaN       6